
/* Apply a linear gradient background */
body {
    background: linear-gradient(to bottom, #0279f881, #0ff1e27f); /* Replace these colors with your desired gradient */
  }
  
  /* Change the font of the title */
  h1 {
    font-family: Georgia, serif; /* Replace with your desired font-family */
    color: #010101; /* Change the font color */
  }
  
  /* Add borders around text */
  section, main {
    border: 4px solid #333; /* Add borders with a color of your choice */
    padding: 20px; /* Add some padding to create spacing between content and borders */
  }
  


section {
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0 auto;
    max-width: 75%;
    text-align: center;
    padding: 20px 20px 20px 0px;
}

main {
    margin: 0 auto;
    max-width: 75%;
    padding: 20px;
}

/* Add more styles as needed */

